
body{
	background: #f1f1f1;
	font-family: Arial,Helvetica,sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.header-nav{
	background-color: rgba(43, 02, 42,1);
	padding: 20px 0 50px 0px;
	margin-top: 15px;
	width:100%;
	border-bottom: 0.8em;
	border-bottom-color: rgb(186, 159, 211);
	border-bottom-style: solid;

}
.header-nav nav a{
	padding-left: 80px;
	text-decoration: none;
	color: white;
	text-align: center;
}
.contain{
	flex: 1 0;
}
.contain .para-1,.para-2{
	width: 500px;
	display: inline-block;
	padding: 5vw 5vw;
	text-align: justify;
}
.contain h1{
	font-size: 3vw;
	text-align: center;
	margin-top: 20px;
	color: #333;
}
/* css for formular*/
.formulaire{
	text-align: center;
}
.formulaire input[type="text"],
			input[type="mail"],
			input[type="password"]{
				padding: 15px;
				margin: 10px;
				width: 150px;
			}
.formulaire textarea{
	width: 400px;
	height: 150px;
	margin-top: 20px;
}
.formulaire h1{
	color: rgba(43, 02, 42,1);
	font-size: 2em;
}
/* css for submit buttton*/
.formulaire input[type="submit"]{
	background:#f1f1f1;
	font-size: 1.2em;
	padding: 8px;
	margin:8px 0 10px; 0;
	width: 130px;
	border-radius: 10px;
}
.contain .para-3{

}

.conatain{
	width: 100%;
}
footer{
	flex-shrink: 0;
	border-top: 1px dashed #000;
	width: 100%;
	background: #f1f1f1;
	color: #333;
}
.contain-footer{
	width: 1200px;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: 50px 0 50px;
}
.bloc{
	width: 25%;
	margin: 0 20px;
}
/* css pour contact*/
.A_props h3,
.footer-contact h3,
.footer-service h3,
.footer-medias h3{
	font-size: 20px;
	padding-bottom: 10px;

}
.footer-contact p{
	padding: 3px 0;
}
/* services*/
.liste-services,
.liste-medias{
	list-style-type: none;
}
.liste-services li{
	padding: 2px 0;
}
.liste-services a{
	text-decoration: none;
	color: #333;
}
.liste-services a:hover{
	color: rgb(3,3,3);
}
/* les medias*/
.liste-medias img{
	width: 40px;
	margin: 5px 5px;
}
.liste-medias a{
	text-decoration: none;
	color: #333;
	display: flex;
	align-items: center;
	font-size: 20px;
}
.liste-medias {
	position: relative;
	right: 10px;
}